@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Role Method and Assign Stats</h1>

<div></div>Random

<div>Fast Method</div>

<div>Major Hero</div>

<div>Major Supporting Character</div>

<div>Minor Hero</div>

<div>Minor Supporting Character</div>

<div>Average</div>

<div>Manaual</div>

<div>INT COOl TECH...</div>
<div>RUN Leap Carry...</div>
<a class="btn btn-primary my-2" style="background-color: red;  float: right" asp-area="" asp-controller="Character" asp-action="CreateAssignSkills">Next</a>