@using CyberPunk2020.Data.Enum
@using CyberPunk2020.ViewModels
@model EditGameViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="Edit" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="name">Name</label>
        <input asp-for="name" class="form-control" placeholder="Enter Handle">
        <span asp-validation-for="name" class="text-danger"><</span>
    </div>

    <div class="form-group">
        <label asp-for="description">Description</label>
        <input asp-for="description" class="form-control" placeholder="Enter Age">
        <span asp-validation-for="description" class="text-danger"><</span>
    </div>

    <div class="form-group">
        <label asp-for="Round">Round</label>
        <input asp-for="Round" class="form-control" placeholder="Enter Age">
        <span asp-validation-for="Round" class="text-danger"><</span>
    </div>

    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" type="file" class="form-control" placeholder="Enter image link">
        <span asp-validation-for="Image" class="text-danger"><</span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
